<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Vue.js Pet Depot</title>
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./assets/css/app.css" />

</head>

<body>

  <div id="app" class="container-fluid p-0">

    <header>
      <nav class="navbar navbar-dark bg-dark text-white">
        <h1>{{ sitename }}</h1>
        <div class="ml-auto">
          <button type="button" class="btn btn-default text-white btn-lg" v-on:click="showCheckout">
            <span><i class="fas fa-shopping-cart mr-1"></i>{{ cartItemCount }}</span>Checkout
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="w-100 product">
          <div class="row" v-if="showProduct">
            <div class="col">
              <figure>
                <img v-bind:src="product.image" v-bind:alt="product.title" />
              </figure>
            </div>
            <div class="col col-expand">
              <h1>{{ product.title }}</h1>
              <p v-html="product.description"></p>
              <!--Использование фильтра formatPrice()-->
              <p class="price">{{ product.price | formatPrice }}</p>
              <button class="btn btn-primary default" v-on:click="addToCart" v-if="canAddToCart">
                Add to cart
              </button>
              <button class="btn btn-primary default" disabled v-else>Add to cart</button>
            </div>
          </div>
          <div class="w-100" v-else>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <strong>First Name:</strong>
                  <input v-model="order.firstName" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                  <strong>Last Name:</strong>
                  <input v-model="order.lastName" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <strong>Address:</strong>
                <input v-model="order.address" class="form-contol" />
              </div>

              <div class="form-group">
                <strong>City:</strong>
                <input v-model="order.city" class="form-contol" />
              </div>

              <div class="form-row">
                <div class="col-md-2">
                  <strong>State:</strong>
                  <select v-model="order.state" class="form-contol">
                    <option disabled value="">State</option>
                    <option>AL</option>
                    <option>AR</option>
                    <option>CA</option>
                    <option>NV</option>
                  </select>
                </div>

                <div class="col-md-6 offset-md-4">
                  <strong>Zip/Postal Code:</strong>
                  <input v-model="order.zip" class="form-contol" />
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 boxes">
                  <input type="checkbox" id="gift" value="true" v-bind:true-value="order.sendGift"
                    v-bind:false-value="order.dontSendGift" v-model="order.gift">
                  <label for="gift">Ship As Gift?</label>
                </div>

                <div class="col-md-6 boxes">
                  <input type="radio" id="home" value="Home" v-model="order.method">
                  <label for="home">Home</label>
                  <input type="radio" id="business" value="Business" v-model="order.method">
                  <label for="business">Business</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 offset-md-3 text-center">
                  <button type="submit" class="btn btn-primary" v-on:click="submitForm">Place Order</button>
                </div>
              </div>
            </form>
            <div class="col-md-12 verify">
              <pre>
                  First Name: {{ order.firstName }}
                  Last Name: {{ order.lastName }}
                  Address: {{ order.address }}
                  City: {{ order.city }}
                  Zip: {{ order.zip }}
                  State: {{ order.state }}
                  Method: {{ order.method }}
                  Gift: {{ order.gift }}
                </pre>
            </div>
          </div>
        </div>
      </div>
  </div>
  </main>
  </div>

  <!-- <script src="https://kit.fontawesome.com/2789eb5531.js"></script> -->
  <script src="./js/vue.min.js"></script>
  <script>
    // Переменная для включения и выключения функций обратного вызова
    var APP_LOG_LIFECYCLE_EVENTS = true;
    var webstore = new Vue({
      el: "#app",
      data: {
        sitename: "Vue.js Pet Depot",
        product: {
          id: 1001,
          title: "Cat Food, 25lb bag",
          description:
            "A 25 pound bag of <em>irresistible</em>, organic goodness for your cat.",
          price: 2000, // цена указывается в центах
          image: "assets/images/product-fullsize.png",
          availableInventory: 5
        },
        cart: [],
        showProduct: true,
        order: {
          firstName: '',
          lastName: '',
          address: '',
          city: '',
          zip: '',
          state: '',
          gift: 'Send As A Gift',
          sendGift: 'Send As A Gift',
          dontSendGift: 'Do Not Send As A Gift',
          method: 'Home'
        }
      },
      filters: {
        // фильтр formatPrice() форматирует цену переданную в центах в строку вида: 12500 -> $12.50 или 2000000 -> $20,000.00
        formatPrice: function (price) {
          if (!parseInt(price)) {
            return "";
          }

          // если значение цены больше 1000 долларов или 100000 центов, то в этом случае представим цену в виде строки: 2000000 -> $20,000.00
          if (price > 99999) {
            // Метод toFixed(n) округляет число до n знаков после запятой и возвращает строковое представление результата.
            var priceString = (price / 100).toFixed(2); // 2000000 -> 20000.00
            var priceArray = priceString.split("").reverse(); // 20000.00 -> ["0", "0", ".", "0", "0", "0", "0", "2"]
            var index = 3;
            while (priceArray.length > index + 3) {
              priceArray.splice(index + 3, 0, ","); // вставляем в массив priceArray новый элемент со значением ","
              index += 4;
            }

            return "$" + priceArray.reverse().join("");
          } else {
            return "$" + (price / 100).toFixed(2);
          }
        }
      },
      methods: {
        addToCart: function () {
          this.cart.push(this.product.id);
        },
        // используем сокращенный синтаксис объявления методов
        showCheckout() {
          this.showProduct = this.showProduct ? false : true;
        },
        submitForm() {
          alert("Submitted");
        }
      },
      computed: {
        cartItemCount: function () {
          return this.cart.length || "";
        },
        canAddToCart: function () {
          return this.product.availableInventory > this.cartItemCount;
        }
      },
      beforeCreate: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeCreate");
        }
      },
      created: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("created");
        }
      },
      beforeMount: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeMount");
        }
      },
      mounted: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("mounted");
        }
      },
      beforeUpdate: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeUpdate");
        }
      },
      updated: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("updated");
        }
      },
      beforeDestroy: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeDestroy");
        }
      },
      destroyed: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("destroyed");
        }
      }
    });
  </script>
</body>

</html>